body, html{
    height: 100%;
    overflow-y: auto;
}

.dashboard-wrapper {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dashboard-container{
    padding: 20px;
    background-color: #212529;
    min-height: 100vh;
    color: #e9ecef;
}

.dashboard-title{
    color: #f8f9fa;
    margin-bottom: 30px;
    font-weight: 600;
    border-bottom: 2px solid #495057;
    padding-bottom: 10px;
}

.stat-grid{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin-bottom: 30px;
}

.stat-card {
    background: #343a40;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.stat-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(32, 201, 151, 0.1);
}

.stat-content h3{
    margin: 0 0 5px 0;
    color: #adb5bd;
    font-size: 1rem;
}

.stat-content p{
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
    color: #f8f9fa;
}

.recent-order-card{
    width: 100%;
    background: #343a40;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.recent-order-title{
    color: #f8f9fa;
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.order-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.order-table  th{
    background-color: #495057;
    color: #f8f9fa;
    padding: 12px 15px;
    text-align: left;
    font-weight: 600;
}

.table-order td{
    padding: 18px 20px;
    border-bottom: 1px solid #495057;
    color: #e9ecef;
}

.order-table tr:hover{
    background-color: #495057;
}

.dashboard-loading,
.dashboard-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #f8f9fa;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .start-grid {
        grid-template-columns: 1fr;
    }

    .stat-card {
        flex-direction: column;
        text-align: center;
    }

    .stat-icon {
        margin-right: 15px;
        margin-bottom: 15px;
    }
}